<!DOCTYPE html>
<html>

<head>
    <title> Covid Tracker- Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav class="nav-bar">
        <a href="/logout">logout</a>
        <a href="/tests">All Tests</a>
    </nav>
    <h1>Edit Profile</h1>
    <form action="/profile/edit/<%= profile._id %>?_method=PUT" method="POST">
        <label>Vaccine<select name="vaccine">
            <option value="N/A">N/A</option>
            <option value="BioNTech Pfizer">BioNTech Pfizer</option>
            <option value="Moderna, NIAID">Moderna, NIAID</option>
            <option value="Johnson & Johnson">Johnson & Johnson</option>
            <option value="Oxford-AstraZeneca">Oxford-AstraZeneca</option>
        </select></label>
    <label>Vaccination Status<select name="vaccination_status">
        <option value="Unvaccinated">Unvaccinated</option>
        <option value="Vaccinated">Vaccinated</option>
        </select></label>
        <input type="submit" value="Save Changes">
    </form>
</body>

</html>
