<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>My Covid Tests</title>
</head>

<body>
  <div class="topnav">
    <a class="active" href="/profile">Home</a>
    <a id="logout" href="/logout">logout</a>
  </div>



  <div class="main-body">
    <h1>Add Test</h1>
    <form id="add-test-form" method="POST" action="/tests/<%= profile._id %>">


      <br>
      <label>Test Type:<select name="test_type">
          <option value="PCR">PCR</option>
          <option value="Rapid Antigen">Rapid Antigen</option>
        </select></label>
      <br>

      <label>Result:<select name="test_result">
          <option value="Positive">Positive</option>
          <option value="Negative">Negative</option>
        </select></label>
      <br>
      <label>
        Date Tested
        <input type="datetime-local" value="<%= testDate.slice(0, 16) %>" name="date_tested">
      </label><br>
      <br>
      <input type="submit" value="Add test" />
    </form>
  </div>
</body>

</html>