<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Test Details</title>
</head>

<body>
  <header class="navbar-fixed">
    <nav class="#f5f5f5 grey lighten-4">
      <div class="nav-wrapper">
        <ul>
          <li><a href="/profile" class="left brand-logo"><img src="../../images/testslogo.png"
            alt="Home Logo"  id="app-logo"style="width:60px;height:60px;"></a></li>
        </ul>
        <ul class="right">
          <li><a id="logout-button" href="/logout"> <span class="grey-text text-darken-2">Logout</span></a></li>
        </ul>
      </div>
    </nav>
    </header>
    <!-- header -->
  <main>
  <div class="main-body">
    <h1>Test Details</h1>
    <section id="show">
      <table>
        <thead>
          <tr>
            <th>Date tested:</th>
            <th>Test type:</th>
            <th>Result:</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%=test.date_tested%>
            </td>
            <td>
              <%=test.test_type%>
            </td>
            <td>
              <%=test.result%>
            </td>
          </tr>
        </tbody>
      </table>
      </br>
    </section>
    </br>
    <form id="delete-test-form" action="/tests/<%=test._id%>?_method=DELETE" method="POST">
      <button type="submit">delete test</button>
    </form>
  </div>
</main>
</body>
<!-- footer -->
<footer class="page-footer #f5f5f5 grey lighten-4">
  <div class="right #f5f5f5 grey">All Rights Reserved, &copy; 2021 Aloberries Inc. &nbsp;</div>
</footer>

<!-- footer -->
</html>