<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Test Details</title>
</head>

<body>
  <section id="show">
    <table>
      <thead>
        <tr>
          <th>Date tested:</th>
          <th>Test type:</th>
          <th>Result:</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%=test.date_tested%>
          </td>
          <td>
            <%=test.test_type%>
          </td>
          <td>
            <%=test.result%>
          </td>
        </tr>
      </tbody>
    </table>
    </br>
  </section>
  </br>
  <form id="delete-test-form" action="/profile/tests/<%=test._id%>?_method=DELETE" method="POST" >
    <button type="submit">delete test</button>
  </form>
</body>

</html>

