<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Test Details</title>
</head>

<body>
  <div class="topnav">
    <a class="active" href="/profile">Home</a>
    <a id="logout" href="/logout">logout</a>
  </div>
  <div class="main-body">
    <h1>Test Details</h1>
    <section id="show">
      <table>
        <thead>
          <tr>
            <th>Date tested:</th>
            <th>Test type:</th>
            <th>Result:</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%=test.date_tested%>
            </td>
            <td>
              <%=test.test_type%>
            </td>
            <td>
              <%=test.result%>
            </td>
          </tr>
        </tbody>
      </table>
      </br>
    </section>
    </br>
    <form id="delete-test-form" action="/tests/<%=test._id%>?_method=DELETE" method="POST">
      <button type="submit">delete test</button>
    </form>
  </div>
</body>

</html>